
.custom-box{
  max-width: 400px;
  /* padding: 10%; */
  padding: 40px;
  text-align: center;
  margin: auto;
}



.form-login{
  margin: 20px;

}

.input-form{
  width: 100%;
}


.login-img{
  margin: auto;
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}


.button-login{
  width: 100%;
}


.login-extra{
  margin: 15px;
  margin-top: 0px;
  margin-bottom: 15px;
}
.btn-sesion{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  width: 100%;
  height: 40px;
}

.btn-sesion-fb{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  width: 100%;
  height: 40px;
  color: white;
  background: rgb(68, 88, 241);
}
